* {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}
html {
	background: #EFFBFB;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}

.kakaoMap {
	width: 350px;
	height: 300px;
}

/*	ChatBot header	*/

		.chat-header {
		background: skyblue;
		color: white;
		text-align: center;
		margin: 0 auto;
		height: 50px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		line-height: 50px;
		min-width: 350px;
	}
	.chat-header > div {
		font-size: 1.6rem;
		min-width: 350px;
	}
	/*	Section	*/
	.chat-section {
		margin-top: 65px;
		margin-bottom: 140px;
	}
	.part {
		margin-top: 20px;
		margin-right: 10px;
		width: 100%;
		max-width: 600px;
		min-width: 500px;
	}
	.part-right {
		max-width: 100%;
	}
	.part-right > div {
		margin-right: 20px;
	}
	.part-logo, .part-logo > img {
		width: 60px;
		height: 55px;
	}
	.part-message {
		width: 70%;
		height: 100%;
	}
	.textbox {
		width: max-content;
		border-radius: 15px;
		margin-bottom: 10px;
		border: 1px solid black;
		padding: 5px;
		background: white;
		box-sizing: content-box;
	}
	.textbox-inner {
		width: max-content;
		font-size: 1rem;
		line-height: 1rem;
		padding: 5px;
		text-align: left;
		line-height: 1.5rem;
		box-sizing: content-box;
	}
	.chat-btn, .chat-btn tr {
		min-width: 70%;
		max-width: 100%;
		text-align: center;
		border-spacing: 0px;
		padding: 0px;
		box-sizing: content-box;
		background: white;
	}
	
	.chat-btn:hover:not(.textbox), .chat-btn:not(.textbox) *:hover, .chat-new-btn > button {
		cursor: pointer;
	}
	
	.keywords tr:nth-child(1) > td {
		border-radius: 15px 15px 0px 0px;
	}
	.keywords tr:nth-last-child(1) > td {
		border-radius: 0px 0px 15px 15px;
	}
	
	.textbox-inner {
		padding: 10px;
	}
	
	.chat-btn td {
		min-width: 50%;
		max-width: 70%;
		font-size: 1rem;
		line-height: 1.5rem;
		padding: 10px;
		border: 1px solid black;
		box-sizing: content-box;
	}
	.r-t {
		border-radius: 0px 15px 0px 0px;
	}
	.l-t {
		border-radius: 15px 0px 0px 0px;
	}
	.top {
		border-radius: 15px 15px 0px 0px;
	}
	.bot {
		border-radius: 0px 0px 15px 15px;
	}
	.chat-time {
		color: gray;
	}
	/*	ChatBot footer	*/
	.chat-footer * {
		border: 0px;
	}
	.chat-footer {
		width: 100%;
		height: 50px;
		line-height: 50px;
		min-width: 350px;
		border: 0px;
		border-top: 1px solid gray;
		position: fixed;
		bottom: 0px;
	}
	.chat-footer > div{
		height: 100%;
	}
	.chat-search {
		width: 100%;
		height: 100%;
		text-indent: 10px;
	}
	.chat-enter-box {
		position: absolute;
		height: 50px;
		bottom: 0px;
		right: 0px;
	}
	.chat-enter-box a {
		margin-top: 5px;
	}
	.chat-enter-box a, .chat-enter-box img {
		width: 40px;
		height: 40px;
		display: block;
	}
	.answer .chat-time {
		text-align: right;
	}
	.chat-new-btn {
		position: fixed;
		bottom: 65px;
		width: 100%;
		text-align: center;
	}
	.chat-new-btn > button {
		padding: 10px;
		border-radius: 15px;
	}
	.chat-new-btn > #newQuestion {
		margin-right: 15px;
	}
	.text-center {
		text-align: center;
	}
	
	.text-left {
		text-align: left;
	}
	
	.chat-doctor p {
		margin: 50px 20px;
		height: 100%;
	}
	
	.chat-doctor-img, .chat-doctor-img > img {
		width: 150px;
		height: 150px;
	}
	
	.textbox-inner > button {
		padding: 10px;
		border-radius: 15px;
	}
	
	.news-yes {
		margin-right: 10px;
	}
	
	#display-none, #display-none1, #display-none2 {
		display: none;
	}
	
	.chat-food, .chat-food-img {
		width: 100%;
	}


@media screen and (max-device-width: 500px) {
	.chat-header {
		background: skyblue;
		color: white;
		text-align: center;
		margin: 0 auto;
		height: 200px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		line-height: 200px;
		min-width: 350px;
	}
	.chat-header > div {
		font-size: 100px;
		height: 100%;
		min-width: 350px;
	}
	/*	Section	*/
	.chat-section {
		margin-top: 250px;
		margin-bottom: 400px;
	}
	.part {
		margin-top: 20px;
		margin-right: 10px;
		width: 100%;
	}
	.part-right {
		max-width: 100%;
	}
	.part-right > div {
		margin-right: 20px;
	}
	
	.part-logo {
		width: 28%;
		height: 155px;
	} 
	
	.part-logo > img {
		width: 100%;
		height: 100%;
	}
	.part-message {
		width: 72%;
		height: 100%;
	}
	
	.textbox {
		width: max-content;
		border-radius: 15px;
		margin-bottom: 10px;
		border: 1px solid black;
		padding: 5px;
		background: white;
		box-sizing: content-box;
	}
	.textbox-inner {
		width: max-content;
		font-size: 50px;
		padding: 5px;
		text-align: left;
		line-height: 100px;
		box-sizing: content-box;
	}
	
	.chat-btn {
		width: 180%;
		margin-bottom: 10px;
	}
	
	.chat-btn, .chat-btn tr {
		text-align: center;
		border-spacing: 0px;
		padding: 0px;
		box-sizing: content-box;
		background: white;
		max-width: 200%;
	}
	
	.chat-btn:hover:not(.textbox), .chat-btn:not(.textbox) *:hover, .chat-new-btn > button {
		cursor: pointer;
	}
	
	.keywords tr:nth-child(1) > td {
		border-radius: 15px 15px 0px 0px;
	}
	.keywords tr:nth-last-child(1) > td {
		border-radius: 0px 0px 15px 15px;
	}
	
	.textbox-inner {
		padding: 10px;
	}
	
	.chat-btn td {
		min-width: 50%;
		max-width: 70%;
		font-size: 50px;
		line-height: 100px;
		padding: 10px;
		border: 1px solid black;
		box-sizing: content-box;
	}
	
	.chat-btn td p, .chat-btn td p *, .textbox-inner strong{
		font-size: 50px;
	}
	
	.r-t {
		border-radius: 0px 15px 0px 0px;
	}
	.l-t {
		border-radius: 15px 0px 0px 0px;
	}
	.top {
		border-radius: 15px 15px 0px 0px;
	}
	.bot {
		border-radius: 0px 0px 15px 15px;
	}
	
	.same {
		border-radius: 15px 15px 15px 15px;
	}
	
	.chat-time {
		color: gray;
		margin-top: 15px;
		font-size: 50px; 
	}
	/*	ChatBot footer	*/
	.chat-footer * {
		border: 0px;
	}
	.chat-footer {
		width: 100%;
		height: 200px;
		line-height: 200px;
		min-width: 350px;
		border: 0px;
		border-top: 1px solid gray;
		position: fixed;
		bottom: 0px;
	}
	.chat-footer > div{
		height: 100%;
	}
	.chat-search {
		width: 100%;
		height: 100%;
		text-indent: 10px;
		font-size: 50px;
	}
	.chat-enter-box {
		position: absolute;
		height: 50px;
		bottom: 0px;
		right: 0px;
	}
	.chat-enter-box a {
		margin-top: 20px;
	}
	.chat-enter-box a, .chat-enter-box img {
		width: 160px;
		height: 160px;
		display: block;
	}
	.answer .chat-time {
		text-align: right;
	}
	.chat-new-btn {
		position: fixed;
		bottom: 265px;
		width: 100%;
		text-align: center;
	}
	.chat-new-btn > button {
		padding: 10px;
		border-radius: 15px;
		font-size: 50px;
	}
	.chat-new-btn > #newQuestion {
		margin-right: 15px;
	}
	.text-center {
		text-align: center;
	}
	
	.text-left {
		text-align: left;
	}
	
	.chat-doctor p {
		margin: 50px 20px;
		height: 100%;
	}
	
	.chat-doctor-img, .chat-doctor-img > img {
		width: 100%;
		height: 800px;
	}
	
	.textbox-inner > button {
		padding: 10px;
		border-radius: 15px;
		font-size: 50px;
	}
	
	.news-yes {
		margin-right: 10px;
	}
	
	#display-none, #display-none1, #display-none2 {
		display: none;
	}
	
	.kakaoMap, .chat-food {
		width: 770px;
		height: 600px;
	}
	
	.chat-food-img {
		width: 100%;
		height: 100%;
	}
	
	.customoverlay, .customoverlay > a {
		line-height: 40px;
	}
}