/*	All		*/

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 110px;
}

#getListNone {
	width: 50%;
	margin: 0 auto;
	margin-top: 100px;
}


@media (min-width: 1300px) {
	*{
		font-family: 'GmarketSansMedium';
		font-size: 16px;
	}
	.reserv-info > h4 {
		font-size: 2.5rem;
	}
	.reserv-info > h5 {
		margin-top: 4vh;
		font-size: 2rem;
	}
	
	
	/*	header	*/
	
	.chat-start {
		margin-right: 20px;
		background: skyblue;
		opacity: 70%;
	}
	
	.navbar-fixed-top {
		margin-bottom: 50px;
		z-index:50000;
	}
	
	.header-container, .header-navbar-header, #navbar ul a {
		font-size: 3rem;
		position: relative;
	}
	
	.header-container {
		width: 90%;
	}
	
	ul.navbar-nav > li {
		margin-top: 2.5vh;
	}

	
	.login-form-group button {
		height: 100%;
		font-size: 2rem;
		line-height: 5vh;
	}
	
	.login-form-group button img {
		width: 5vh;
		height: 5vh;
	}
	
	#login, #logout {
		background: white;
	}
	
	
	
	
	
	ul.navbar-nav > li {
		margin-right: 1vw;
	}
	
	.navbar-brand, .navbar-brand > img {
		width: 20rem;
		height: 10vh;
		margin-right: 4rem;
	}
	
	/*	footer	*/
	.footer {
	  position: absolute;
	  bottom: 0px;
	  width: 100%;
	  background-color: black;
	  color: white;
	  padding: 0px;
	  z-index: 1001;
	}
	
	.footer * {
		list-style: none;
	  font-size: 1.1rem;
	}
	
	.footer address {
		margin-bottom: 0px;
	}
	
	
	.main-banner {
		width: 100%;
		height: 100vh;
		top: 10vh;
		position: absolute;
		z-index: -5000;
	}
	
	.reservation-main {
		width: 100%;
		height: 90vh;
		background: white;
	}
	
	.main-banner > img {
		width : 100%;
		height: 90vh;
		opacity: 30%;
	}
	
	
	
	.footer-container {
		margin: 0 5%;
		width: 90%;
	}
	
	/* Main */
	
	.home-container {
		margin-top: 10vh;
	}
	
	.reservatable {
		background: skyblue;
		font-weight: bold;
	}
	
	
	.left {
		float: left;
	}
	
	.right {
		float: right;
	}
	
	.newsMainCountBox {
		width: 100%;
		height: 10%;
		background: #333;
		color: white;
		padding: 0 10%;
		line-height: 1.1;
	}
	
	/* main-first-row */
	
	.reserv-info, .hospi-category {
		width: 45wv;
	}
	
	
	.hidden {
		display: none;
	}
	
	.reserv-pickup {
		display: none;
		text-align: center;
	}
	
	.reserv-pickup > button {
		width: 30%;
		height: 10%;
		display: inline;
		margin-top : 30px;
		background: skyblue;
		border: none;
		border-radius: 5px;
	}
	
	.reserv-info > h5 span {
		font-size: 2rem;
	}
	
	.doctor-list {
		width: 60%;
		height: 80vh;
		display: none;
		padding-right: 15px;
	}
	
	.doctor-list > * {
		width: 100%;
		height: 8rem;
		background: skyblue;
		margin-bottom: 20px;
		padding-top: 2rem;
		border-radius: 10px;
	}
	
	.doctor-list > .doctor > .doctor-listone {
		font-size: 2.5rem;
	}
	
	.doctor:hover {
		background-color: orange;
	}
	
	.reserv-calendar {
		width: 60%;
		display: none;
	}
	
	.calendar-year, .calendar-month {
		font-size: 2.5rem;
	}
	
	.calendar-day-row {
		margin-top: 1vh;
	}
	
	.reservation {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 15px;
	}
	
	.reservation > div, .reservation > form {
		height: 78vh;
		text-align: center;
		position: relative;
	}
	
	.reservation>div.hospi-category, .reservation>div.reserv-pickup {
		width: 60%;
	}
	
	
	.reservation>div.hospi-category * {
		font-size: 2.5rem;
	}
	
	.reservation>form.reserv-info {
		width: 40%;
		border-left: 1px solid black;
		padding-left: 15px;
	}
	
	div.reservation > h4 {
		text-align: center;
		font-size: 3.5rem;
		margin-top: 0px;
		border-bottom: 1px solid black;
		padding-bottom: 30px;
	}
	
	.reserv-info > * {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#reserv-prev-btn, #reserv-modify-prev-btn {
		width: 100%;
		display: none;
		background-color: #E6E2E5;
		height: 10%;
		bottom: 0px;
		font-size: 2rem;
		border: none;
		
		
	}
	
	#reserv-next-btn, #reserv-modify-btn {
		width: 100%;
		display: none;
		background-color: #3981BF;
		height: 10%;
		bottom: 0px;
		color: white;
		font-size: 2rem;
		border: none;
	}
	
	
	.reserv-square1 {
	    background-color: skyblue;
	    width: 10px;
	    height: 10px;
	    display: inline-block;
	}
	
	.reserv-square2 {
	    background-color: lightgray;
	    width: 10px;
	    height: 10px;  
	    display: inline-block;
	}
	
	
	.calendar-row {
		width: 100%;
	}
	
	.calendar-time-check {
		margin-top: 10px;
	}
	
	.calendar-time-check > div > h4 {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	
	.reservTimeBtn {
		width: 14%;
		height: 4vh;
		margin-right: 1vh;
		margin-top: 0.5rem;
		border-radius: 5px;
	}
	
	.calendar-row > .calendarBtn, .calendar-row > div {
		width: 14%;
		height: 4vh;
		line-height: 4vh;
	}
	
	.calendarBtn, .reservTimeBtn {
		border: none;
	}
	
	.reservatable:hover{
		background-color: orange;
	}
	
	.reservTimeBtn:hover{
		background-color: orange;
	}
	
	.reserv-pickup > button:hover {
		background: orange;
	}
	
	.sunday {
		color: red;
	}
	
	.saturday {
		color: blue;
	}
	
	/* main-second-row */
	
	#hospi-carousel {
		padding-top: 5vh;
		padding-bottom: 5vh;
		background: white;
		position: relative;
	}
	
	.carousel > h1 {
		text-align: center;
		margin: 0px auto 5vh auto;
		font-size: 6rem;
	}
	
	#hospi-carousel, .focus {
		height: 90vh;
	}
	
	.carousel-caption {
	  bottom: 3rem;
	  z-index: 10;
	  background: black;
	  opacity: 60%;
	}
	
	.carousel-inner {
		width: 40%;
		height: 85%;
		margin: 0 auto;
	}
	
	.carousel-inner > a {
		width: 100%;
	}
	
	.carousel-side {
		width: 30%;
		height: 75%;
		position: absolute;
	}
	
	.carousel-left {
		left: 0px;
		bottom: 0px;
		line-height: 70vh;
	}
	
	.carousel-right {
		right: 0px;
		bottom: 0px;
		line-height: 70vh;
	}
	
	.carousel-inner > .item {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.carousel-inner > .item > img {
		width: 100%;
		height: 100%;
		border-radius: 35px;
	}
	
	
	/* main-third-row */
	.focus {
		text-align: center;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	
	.focus > h1 {
		font-size: 6rem;
		margin: 0 auto 6rem;
	}
	
	.main-news-div {
		margin: 0 auto;
		width: 100%;
		height: 70%;
	}
	
	.focus-img {
		float : left;
		width: 60%;
		height: 100%;
	}
	
	.news-img {
		width: 100%;
		height: 100%;
	}	
	
	.focus-news {
		float : right;
		width: 40%;
		height: 100%;
	}
	
	.my-news-article {
		width: 100%;
		height: 18%;
		overflow: hidden;
		margin: 0;
		line-height: 11vh;
		background: #333;
		color: white;
		border-bottom: 1px solid gray;
	}
	
	.my-news-article:hover:not(.newsMainCountBox) {
		cursor: default;
		background: silver;
	}
	
	
	
	
	/*	Modal All */
	
	.modal {
		border-radius: 15px;
	}
	
	/*	Modal-login	*/
	.header-login-div {
		text-align: center;
	}
	
	.header-login-div > input {
		height: 50px;
		width: 300px;
		margin: 10px auto;
	}
	
	.check-div {
		text-align: center;
	}
	
	/*	Modal-join	*/
	.join-div {
		text-align: center;
		padding: 20px;
		float: left;
	}
	
	.joinBtn {
		margin-top: 500px;
	}
	
	#join-Btn {
		float: left;
	}
	
	#join-close {
		float: right;
		margin-top: 0px;
	}
	
	.phone-group {
		width: 50%;
	}
	
	.phone-group > #userPhone1, .phone-group > #userPhone2, .phone-group > #userPhone3 {
		width: 30%;
	}
	
	.email-group > #userEmail1, .email-group > #userEmail2 {
		width: 30%;
	}
	
	.login-modal-form {
		margin: 0 auto 5px auto;
	}
	
	/*	End-Main	*/
	
	
	
	
	
	/*	Side bar	*/
	.sidebar {
		display: none;
	}
	
	
	.sidebar {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #eeeeee3b;
	}
	
	
	/* Sidebar navigation */
	
	.nav-sidebar > li > a {
	  padding-right: 20px;
	  padding-left: 20px;
	}
	.nav-sidebar > .active > a,
	.nav-sidebar > .active > a:hover,
	.nav-sidebar > .active > a:focus {
	  color: #fff;
	  background-color: #71A8D9;
	}
	
	
	
	
	
	
	/*	news	*/
	.news-group > * {
		float: left;
		width: 40%;
	}
	
	.news-article > h2 {
		margin-top: 130px;
	}
	
	
	
	
	
	
	
	/*	introduce		*/
	
	/*	main	*/
	.intro-body1, .intro-body2 {
		margin: 20px 10px 20px 0;
	}

	.headTitle {
		font-size: 3.6rem;
	}

	.doctor-article {
		margin: 80px 20px;
		margin-bottom: 80px;
	}
	
	.doctor-article > img {
		width: 30%;
		height: 25%;
		border-radius: 30px;
		float: left;
		margin-right: 40px;
	}
	
	.greeting {
		float: left;
		display: block;
		width: 55%;
		margin-top: 35px;
		
	}
	
	.greeting-title {
		color: #3981BF;
		font-size: 2.9rem;
		line-height: 60px;
	}
	
	.greeting-name {
		font-size: 2.5rem;
	}
	
	.greeting-name > span {
		font-size: 3.7rem;
	}
	
	.greeting-contents {
		font-size: 2rem;
		color: gray;
	}
	
	.hospital-article {
		margin: 50px 20px;
		margin-bottom: 80px;
	}
	
	.introMain {
		background-color: #e4e8f0;
		margin: 50px auto;
		line-height: 80px;
		border-radius: 10px;
	
	}
	
	.introMain > .introMain-sentence {
		font-size: 3rem;
		
	}
	
	.introMain-contents {
		font-size: 2rem;
		color: gray;
	}
	
	.introMain-img > img {
		width: 45%;
		height: 35%;
		display: inline-block;
		border-radius: 30px;
		margin-left: 40px;
	}
	
	.intro-comment {
		width: 50%;
	}
	
	.intro-comment > * {
		width: 100%;
	}
	
	.intro-img-inner {
		width: 48%;
		float: left;
		margin: 0 5px;
		box-sizing: border-box;
	}
	
	.intro-img-inner > * {
		width: 100%
	}
	
	
	
	/*	doctors	*/
	.doctor-intro-box {
		margin: 50px 80px 50px 30px;
	}

	.doctor-intro-box > .doctor-photo {
		width: 300px; 
		float: left;
		margin-right: 50px;
		margin-bottom: 50px;
	}
	
	
	.doctor-intro-box > .doctor-text {
		width: 500px; 
		float: left;
		display: block;
	}
	
	.doctor-photo > img {
		width: 300px;
		height: 360px;
		display: inline;
		border-radius: 30px;
	}
	
	
	
	.doctor-text > p {
		font-size: 2rem;
		color: gray;
	}
	
	
	
	
	/*	introPharmacy.jsp	*/
	.come-img {
		margin-bottom: 1em;
	}
	
	.comePage-p {
		margin-bottom: 20px;
	}
	
	.text-block {
		display: inline-block;
	}
	
	.a-naver {
		color:#39C12F;
	}
		
		
	/*	End-introduce	*/
	
	
	
	
	
	
	/*	board	*/
	
	#select-form {
		width: 100%;
	}
	
	.search-main-box {
		width: 35%;
		margin-bottom: 10px;
	}
	
	.board-search-group > * {
		float: right;
	}
	
	.board-search-group > input {
		width: 55%;
	}
	
	.board-search-group > select {
		width: 30%;
	}
	
	.board-search-group > button {
		width: 15%;
	}
	
	
	
	/*	claim	*/
	.claim-group {
		padding: 10px;
		display: block;
	}
	
	.claimBtnBox {
		width: 100%;
	}
	
	.claim-group {
		padding: 10px;
		display: block;
	}
	
	.claimContentListBox {
		width: 100%;
		text-align: left;
	}
	
	
	
	
	/*	food-Detail	*/
	
	.foodBtnBox {
		width: 100%;
	}
	
	#boardImg {
		width: 50vw;
	}
	
	
	
	.food-group {
		padding: 10px;
		display: block;
	}
	
	.foodContentListBox {
		width: 100%;
		text-align: left;
	}
	
	.foodModalBody {
		margin-top: 60px;
		text-align: center;
	}
	
	.food-modal-foodImg {
		width: 100%;
		height: 100%;
	}
	
	.foodModalClose {
		margin-top: 30px;
	}
	
	.foodBigLook {
		cursor: pointer;
		width: 50vw;
	}
	
	.foodSizeSet {
		float: right;
	}
	
	
	
	/*	notice	*/
	
	.noticeBtnBox {
		width: 100%;
	}
	
	.notice-group {
		padding: 10px;
		display: block;
	}
	
	.noticeContentListBox {
		width: 100%;
		text-align: left;
	}
	
	
	
	
	/*	news	*/
	
	/*	newsMain	*/
	.news-group {
		padding: 10px;
		display: block;
	}
	
	.news-right {
		float: right;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	.imgBox {
		width: 40%;
		float: left;
		text-align: center;
		padding: 5px;
	}
	
	.newsImg {
		width: 250px;
		height: 250px;
	}
	
	.news-article {
		float: right;
		width: 60%;
		text-align: center;
	}
	
	.newsTitleA {
		font-size: 25px;
		width: 80%;
		text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
	        -webkit-line-clamp: 1;
	        -webkit-box-orient: vertical;
	}
	
	.article-content {
		text-align: left;
	}
	
	.newsContentDiv {
		width: 630px;
		text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
	        -webkit-line-clamp: 3;
	        -webkit-box-orient: vertical;
	}
	
	.newsBtnBox {
		width: 100%;
	}
	
	.news-write-btn {
		float: right;
	}
	
	
	
	
	
	/*	newsRegist	*/
	.newsDetailTitle {
		border: none;
	    resize: none;
	}
	
	.newsDetailContent {
		border: none;
	    resize: none;
	}
	
	
	
	/*	newsDetail	*/
	.news-detail-article-box {
		text-align: center;
		width: 100%;
	}
	
	.news-detail-content-group {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
	
	.news-detail-article {
		width: 100%;
	}
	
	.news-detail-imgBox {
		width: 100%;
		margin-bottom: 100px;
		text-align: center;
	}
	
	.news-detail-newsImg {
		width: 450px;
		height: 450px;
		text-align: center;
	}
	
	.news-detail-articleBox {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	
	
	.newsDetailContent {
		width: 100%;
		text-align: left;
	}
	
	.newsDetailBtnBox {
		width: 100%;
	}
	
	.news-modify-btn {
		float: left;
	}
	
	.news-list-btn {
		float: left;
		margin-left: 5px;
	}
	
	.news-delete-btn {
		float: right;
	}
	
	.newsModalBody {
		margin-top: 60px;
		text-align: center;
	}
	
	.news-modal-newsImg {
		width: 30%;
		height: 40%;
	}
	
	.news-modal-articleBox {
		margin-top: 30px;
	}
	
	.newsModalClose {
		margin-top: 30px;
	}
	
	.newsSizeSet {
		float: right;
	}
	
	.newsContentListBox {
		width: 100%;
		text-align: left;
	}
	
	/*	End-news	*/
	
	/*	health	*/
	
	
	/*	healthMain	*/
	.health-group {
		padding: 10px;
		display: block;
	}
	
	.health-left {
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	.imgBox {
		width: 40%;
		float: left;
		text-align: center;
		padding: 5px;
	}
	
	.healthImg {
		width: 250px;
		height: 250px;
	}
	
	.health-article {
		float: right;
		width: 60%;
		text-align: center;
	}
	
	.healthTitleA {
		font-size: 25px;
		width: 80%;
		text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
	        -webkit-line-clamp: 1;
	        -webkit-box-orient: vertical;
	}
	
	.article-content {
		text-align: left;
	}
	
	.healthContentDiv {
		width: 80%;
		text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
	        -webkit-line-clamp: 3;
	        -webkit-box-orient: vertical;
	}
	
	.healthBtnBox {
		width: 100%;
	}
	
	.health-write-btn {
		float: right;
	}
	
	/*	healthDetail	*/
	.health-detail-article-box {
		text-align: center;
		width: 100%;
	}
	
	.health-detail-content-group {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
	
	.health-detail-article {
		width: 100%;
	}
	
	.health-detail-imgBox {
		width: 100%;
		margin-bottom: 100px;
		text-align: center;
	}
	
	.health-detail-healthImg {
		width: 450px;
		height: 450px;
		text-align: center;
	}
	
	.health-detail-articleBox {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.healthDetailContent {
		width: 100%;
		text-align: left;
	}
	
	.healthBtnBox {
		width: 100%;
	}
	
	.health-modify-btn {
		float: left;
	}
	
	.health-list-btn {
		float: left;
		margin-left: 5px;
	}
	
	.health-delete-btn {
		float: right;
	}
	
	.healthModalBody {
		margin-top: 60px;
		text-align: center;
	}
	
	.health-modal-healthImg {
		width: 30%;
		height: 40%;
	}
	
	.health-modal-articleBox {
		margin-top: 30px;
	}
	
	.healthModalClose {
		margin-top: 30px;
	}
	
	.healthSizeSet {
		float: right;
	}
	
	.healthContentListBox {
		width: 100%;
		text-align: left;
	}
	
	/*	End health*/
	
	
	
	
	/*	myPage		*/
	#modifyForm, #pwUpdateForm, #deleteForm, #userCheckPwForm {
		padding-top: 10vh;
	}
	
	#pwUpdateForm div.form-group {
		margin-bottom: 0;
		margin-top: 15px;
	}
	
	#modifyForm div.form-group, #pwUpdateForm div.form-group, #userCheckPwForm div.form-group, #deleteForm div.form-group {
		line-height: 44px;
	}
	
	.reservation-group > .reservation-body {
		float: left;
	}
	
	.reservation-body h5 {
		font-weight: bold;
		margin-top: 20px;
	}
	
	.reservation-body h5 span {
		color: blue;
		font-weight: bold;
		float:right;
	}
	
	.reservation-detail-body1 {
		background: aqua;
		height: 367px;
		width: 60%;
		float: left;
		margin: 10px 20px 10px 70px;
		padding: 15px;
		border-radius: 15px;
	}
	
	.reservation-detail-body2 {
		width: 200px;
		margin: 10px 20px;
		padding: 15px;
		background: aqua;
		border-radius: 15px;
		float: right;
	}
	
	.reservation-detail-body2 h5 {
		font-weight: bold;
		margin-top: 20px;
	}
	
	.reservation-detail-body2 h5 span {
		color: blue;
		font-weight: bold;
		float:right;
	}
	
	
	
	
	
	/*	adminPageMain	*/
	.doctorDiv {
		width: 300px;
		height: 400px;
		margin: 20px 35px 60px 20px;
		float: left;
	}
	
	.doctor-img-box {
		height: 90%;
		margin-bottom: 20px;
	}
	
	.doctor-img-box > img {
		width: 300px;
		height: 360px;
		border-radius: 30px;
	}
		
		
	.doctorSelect > span {
		font-size: 2rem;
		margin-right: 10px;
		display: block;
	}
	
	.doctorSelect > input {
		width: 18px;
		height: 18px;
		display: block;
	}
	
	#doctorRegistBtn, #doctorModifyBtn {
		margin-right: 10px;	
	}
	
	.buttons {
		width: 200px;
		margin: 0 auto;
	}
	
	.buttons > button {
		width: 80px;
		height: 50px;
		font-size: 2rem;
		margin-top: 50px;
	}
	
	.doctorImg {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	
	.doctorSelect>* {
		float: right;
	}
	
	.deleteBtn1, .deleteBtn2 {
		background-color: red;
		color: white;
		float: right;
		margin-right: 20px;
	}
	
	.registBtn, .cancelBtn, .modifyBtn {
		float: right;
		margin-right: 20px;
	}
	
	/* userAgree.jsp */
	
	.user-agree-container {
		margin-top: 7%;
	}
	
	.all-agree-checkbox {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.agree-div {
		overflow: scroll;
		border: 1px solid #000;
		padding-left: 25px;
		height: 250px;
	}
	
	.agree-div ol {
		list-style: none;
	}
	
	.hotPink {
		color: #cc395a;
	}
	
	/* userJoin.jsp */
	
	.user-join-container {
		margin-top: 7%;
	}
	
	.h1-user-join {
		text-align: center;
	}
	
	.user-id-input {
		width: 300px;
	}
	
	.user-join-container select{
		text-align-last: center;
	}

	.span-email-check {
		margin-top: 15px;
	}
	
	input[type=checkbox] {
		zoom: 1;
	}
	
	.div-checkbox {
		margin-left: 15px;
	}
	
	.check-label {
		margin-top: 10px;
	}
	
	.h1-div {
		text-align: center;
	}
	
	.div-span-input-bottom {
		margin-bottom: 0;
	}
	
	.div-span-bottom {
		margin-bottom: 24px;
	}
	
	.div-bottom {
		margin-bottom: 20px;
	}
	
	
	
	#userEmail1, #userEmail2, #userPh1, #userPh2, #userPh3, #year, #month, #day, #userBirth2 {
		border-radius: 6px;
		text-align: center;
	}
	
	.hr-bot {
		margin-bottom: 10px;
	}
	
	.hr-bottom {
		margin-bottom: 23px;
	}
	
	.hr-top-bottom {
		margin-top: 23px;
		margin-bottom: 23px;
	}
	
	/* userLogin.jsp */
	
	.user-login-container {
		margin-top: 7%;
	}
	
	.user-login-h1 {
		text-align: center;
		margin-bottom: 5%;
	}
	
	.user-join-btn {
		text-align: center;
	}
	
	.user-join-a {
		color: #666;
	}
	
	.a-img {
		width: 360px;
	    height: 46px;
	    margin-bottom: 3%;
	}
	
	.a-img:hover {
		filter: brightness(93%);
	}
	
	#loginBtn {
		margin-bottom: 3%;
	}
	
	/* myPage.jsp */
	
	.user-mypage-container {
		margin-top: 10vh;
	}
	
	/* userWithdrawal.jsp */
	
	.user-withdrawal {
		margin-top: 10vh;
	}
	
	.userwithdrawal-textarea {
		resize: none;
	}
	
	/* userModifyPw.jsp */
	
	.user-modifypw-container {
		margin-top: 10vh;
	}
	
	.user-modifypw-container .div-oldpw {
		margin-bottom: 4%;
	}
	
	#modifyPwBtn {
		margin-top: 3%;
	}
	
	/* introPharmacy.jsp */
	
	.intro-pharmacy-container {
		margin-top: 10vh;
	}
	
	.intro-pharmacy-div {
		margin-bottom: 1%;
	}
	.intro-pharmacy-p {
		margin-top: 20px;
		margin-left: 40px;
	}
	.map_wrap, .map_wrap * {margin-left:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
	.map_wrap {position:relative;width:100%;height:480px;margin-left:3%;}
	#category {position:absolute;top:10px;left:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;}
	#category li {float:left;list-style: none;width:50px;border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
	#category li.on {background: #eee;}
	#category li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}
	#category li:last-child{margin-right:0;border-right:0;}
	#category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;}
	#category li .category_bg {background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;}
	#category li .bank {background-position: -10px 0;}
	#category li .mart {background-position: -10px -36px;}
	#category li .pharmacy {background-position: -10px -72px;}
	#category li .oil {background-position: -10px -108px;}
	#category li .cafe {background-position: -10px -144px;}
	#category li .store {background-position: -10px -180px;}
	#category li.on .category_bg {background-position-x:-46px;}
	.placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
	.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff;}
	.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
	.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
	.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
	.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
	.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
	.placeinfo .title {font-weight: bold; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
	.placeinfo .tel {color:#0f7833;}
	.placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}
	.map_wrap #map {width:90%;height:100%;position:relative;overflow:hidden;}
}







