<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.hospital.admin.mapper.IAdminMapper">
  
  	<resultMap type="com.spring.hospital.command.DoctorVO" id="doctorMap">
  		<id column="doctor_no" property="doctorNo"/>
  		<result column="doctor_name" property="doctorName"/>
  		<result column="medical_department" property="medicalDepartment"/>
  		<result column="medical_charge" property="medicalCharge"/>
  		<result column="medical_intro" property="medicalIntro"/>
  		<result column="upload_path" property="uploadPath"/>
  		<result column="file_loca" property="fileLoca"/>
  		<result column="file_name" property="fileName"/>
  	
  	</resultMap>
  	<!-- 의사 등록 -->
  	<insert id="registDoctor">
  		INSERT INTO doctor
  		VALUES(doctor_seq.NEXTVAL, #{doctorName}, #{medicalDepartment}, #{medicalCharge}, #{medicalIntro}, #{uploadPath}, #{fileLoca}, #{fileName})
  	</insert>
  	
  	<select id="getDoctorList" resultMap="doctorMap">
  		SELECT * FROM doctor WHERE medical_department = #{subject}
  	</select>
  
  
  	<select id="getDoctorlistAdmin" resultMap="doctorMap">
  		SELECT * FROM doctor
  	</select>
  
  	
  	<delete id="deleteDoctor">
  		DELETE FROM doctor
  		WHERE doctor_no = #{doctorNo}  	
  	</delete>
  
  	
  	<select id="getDoctorOne" resultMap="doctorMap">
  		SELECT * FROM doctor
  		WHERE doctor_no = #{doctorNo}
  	</select>
  
  	
  	<update id="update1">
  		UPDATE doctor SET doctor_name = #{doctorName}, medical_department = #{medicalDepartment}, medical_charge = #{medicalCharge}, medical_intro = #{medicalIntro}
 		WHERE doctor_no = #{doctorNo} 	
  	</update>
  	
  	
 	<update id="update2">
 		UPDATE doctor SET doctor_name = #{doctorName}, medical_department = #{medicalDepartment}, medical_charge = #{medicalCharge}, medical_intro = #{medicalIntro}, upload_path=#{uploadPath}, file_loca=#{fileLoca},
		file_name=#{fileName}
		WHERE doctor_no = #{doctorNo} 	
  	</update>
  
  
  </mapper>