<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.hospital.claimreply.mapper.IClaimReplyMapper">

	<resultMap type="claimReply" id="replyMap">
		<result property="adminId" column="admin_id" />
		<result property="regDate" column="reg_date" />
	</resultMap>

	<insert id="replyRegist">
		INSERT INTO claim_reply(rno, bno, admin_id, content)
		VALUES(claim_reply_seq.NEXTVAL, #{bno}, #{adminId}, #{content})
	</insert>
	
	<select id="getList" resultMap="replyMap">
		SELECT * FROM
			(
			SELECT ROWNUM AS rn, tbl.* FROM
				(
				SELECT * FROM claim_reply
				WHERE bno = #{bno}
				ORDER BY rno DESC
				) tbl
			)
		<![CDATA[ 
		WHERE rn > (#{paging.pageNum}-1) * #{paging.cpp}
		AND rn <= #{paging.pageNum} * #{paging.cpp}
		]]>
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT (*)
		FROM claim_reply
		WHERE bno = #{bno}
	</select>
	
	<update id="replyUpdate">
		UPDATE claim_reply
		SET content = #{content}, reg_date = current_date
		WHERE rno = #{rno}
	</update>
	
	<delete id="replyDelete">
		DELETE FROM claim_reply
		WHERE rno = #{rno}
	</delete>

</mapper>