<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.hospital.claim.mapper.IClaimMapper">

	<sql id="search">
		<if test="condition == 'title'">
			WHERE title LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'content'">
			WHERE content LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'userId'">
			WHERE user_id LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'titleContent'">
			WHERE title LIKE '%'||#{keyword}||'%'
			OR content LIKE '%'||#{keyword}||'%'
		</if>
	</sql>

	<insert id="regist">
		INSERT INTO board_claim(bno, user_id, title, content)
		VALUES(board_claim_seq.NEXTVAL, #{userId}, #{title}, #{content})
	</insert>
	
	<select id="getList" resultType="claim">
		SELECT * FROM	
			(
			SELECT ROWNUM AS rn, tbl.* FROM
				(
				SELECT * FROM board_claim
				<include refid="search" />
				ORDER BY bno DESC
				) tbl
			)
		<![CDATA[
		WHERE rn > (#{pageNum}-1) * #{cpp}
		AND rn <= #{pageNum} * #{cpp}
		]]>
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM board_claim
		<include refid="search" />
	</select>
	
	<select id="getContent" resultType="claim">
		SELECT * FROM board_claim
		WHERE bno = #{bno}
	</select>
	
	<update id="viewCount">
		UPDATE board_claim
		SET count = count + 1
		WHERE bno = #{bno}
	</update>
	
	<update id="update">
		UPDATE board_claim
		SET title=#{title}, content=#{content}, reg_date=sysdate
		WHERE bno=#{bno}
	</update>
	
	<delete id="delete">
		DELETE FROM board_claim
		WHERE bno=#{bno}
	</delete>
	
	<select id="getPrevContent" resultType="claim">
		SELECT * FROM board_claim
		WHERE bno = (SELECT bno_prev FROM
						(SELECT bno, LAG(bno, 1, 9999)
						 OVER(ORDER BY bno DESC) AS bno_prev FROM board_claim)
					 WHERE bno = #{bno})
	</select>
	
	<select id="getNextContent" resultType="claim">
		SELECT * FROM board_claim
		WHERE bno = (SELECT bno_next FROM
						(SELECT bno, LEAD(bno, 1, 9999)
						 OVER(ORDER BY bno DESC) AS bno_next FROM board_claim)
					 WHERE bno = #{bno})
	</select>

</mapper>