<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.hospital.news.mapper.INewsMapper">



	<sql id="search">
		<if test="condition == 'title'">
			WHERE title LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'content'">
			WHERE content LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'writer'">
			WHERE writer LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'titleContent'">
			WHERE title LIKE '%'||#{keyword}||'%'
			OR content LIKE '%'||#{keyword}||'%'
		</if>
	</sql>
	
	<sql id="order">
		<if test="order=='desc'">
			DESC
		</if>
	</sql>



	<update id="regist">
		INSERT INTO news VALUES (news_seq.NEXTVAL,
		#{adminId}, #{title}, #{content}, #{uploadPath}, #{fileLoca},
		#{fileName}, sysdate)
	</update>

	<select id="getList" resultType="news">
		SELECT * FROM ( SELECT ROWNUM AS rn, tbl.* FROM ( SELECT * FROM news
		<include refid="search" />
		ORDER BY bno <include refid="order" />
		) tbl )
		<![CDATA[WHERE rn > (#{pageNum}-1) * #{cpp} AND rn <= #{pageNum} * #{cpp}]]>
	</select>

	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM news
		<include refid="search" />
	</select>

	<select id="getContent" resultType="news">
		SELECT * FROM news WHERE bno 
		= #{bno}
	</select>

	<update id="update">
		UPDATE news SET title=#{title}, content=#{content}, upload_path=#{uploadPath}, file_loca=#{fileLoca}, file_name=#{fileName}, reg_date=sysdate WHERE
		bno = #{bno}
	</update>

	<delete id="delete">
		DELETE FROM news WHERE bno = #{bno}
	</delete>
	
	<select id="getPrevContent" resultType="news">
   		select * from news where bno = (select bno_prev from (SELECT bno, LAG(bno, 1, 9999) OVER(ORDER BY bno DESC) AS bno_prev FROM news) where bno = #{bno})
   </select>
   
   <select id="getNextContent" resultType="news">
   		select * from news where bno = (select bno_next from (SELECT bno, LEAD(bno, 1, 9999) OVER(ORDER BY bno DESC) AS bno_next FROM news) where bno = #{bno})
   </select>


</mapper>