<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.hospital.user.mapper.IUserMapper">
	
	<select id="idCheckUsers" resultType="int">
		SELECT COUNT(*) FROM users
		WHERE user_id=#{id}
	</select>
	
	<select id="idCheckAdmin" resultType="int">
		<![CDATA[ 
		SELECT COUNT(*) FROM admin
		WHERE admin_id=#{id}
		]]>
	</select>
	
	<insert id="join">
		INSERT INTO users (user_id, user_pw, user_name, user_birth1, user_birth2, user_ph1, user_ph2, user_ph3, user_email1, user_email2,
		addr_basic, addr_detail, addr_zip_num, user_mobile_ok, user_email_ok)
		VALUES (#{userId}, #{userPw}, #{userName}, #{userBirth1}, #{userBirth2}, #{userPh1}, #{userPh2}, #{userPh3}, #{userEmail1},
		#{userEmail2}, #{addrBasic}, #{addrDetail}, #{addrZipNum}, #{userMobileOk}, #{userEmailOk})
	</insert>
	
	<select id="userLogin" resultType="user">
		SELECT * FROM users
		WHERE user_id=#{id}
	</select>
	
	<select id="adminLogin" resultType="admin">
		SELECT * FROM admin
		WHERE admin_id=#{id}
		AND admin_pw=#{pw}
	</select>
	
	<update id="keepUserLogin">
		UPDATE users
		SET session_id=#{sessionId},
		limit_time=#{limitDate}
		WHERE user_id=#{userId}
	</update>
	
	<update id="keepAdminLogin">
		UPDATE admin
		SET session_id=#{sessionId},
		limit_time=#{limitDate}
		WHERE admin_id=#{userId}
	</update>
	
	<select id="getUserWithSessionId" resultType="user">
		SELECT * FROM users
		WHERE session_id=#{sessionId}
	</select>
	
	<select id="getAdminWithSessionId" resultType="admin">
		SELECT * FROM admin
		WHERE session_id=#{sessionId}
	</select>
	
	<select id="adminInfo" resultType="admin">
		SELECT * FROM admin
		WHERE admin_id=#{id}
	</select>
	
	<select id="userFindId" resultType="user">
		SELECT * FROM users
		WHERE user_email1=#{email1}
		AND user_email2=#{email2}
		AND user_pw!='0000'
	</select>
	
	<select id="userFindPw" resultType="user">
		SELECT * FROM users
		WHERE user_id=#{userId}
		AND user_email1=#{userEmail1}
		AND user_email2=#{userEmail2}
	</select>
	
	<update id="userUpdatePw">
		UPDATE users
		SET user_pw=#{userPw}
		WHERE user_id=#{userId}
	</update>
	
</mapper>